<nav class="header">
	<div class="tap flr cp pop" data-popup-id="add"><i class="icon-add"></i></div>
	<div class="tap flr cp pop" data-popup-id="save"><i class="icon-save"></i></div>
	<div id="clear" class="tap flr cp"><i class="icon-delete"></i></div>
</nav>
