<li data-id="${id}" class="cf">
	<div class="flr"><i class="icon-edit"></i><i data-action="delete" data-id="${id}" class="click icon-delete ml-10"></i></div><nobr>${usrname}&nbsp;<nobr>(${'+'+usrtel})</nobr></nobr>
</li>
