<div class="p-20 txtC">
	<div class="mt-10">it will be work later, sorry</div>
	<!-- 
	<div class="mt-20">
		<input class="button bg-green" type="button" value="save">
		<input class="button bg-grey" type="button" value="close">
	</div>
	-->
	<div id="status" class="c-red"></div>
</div>